.alert
{
    margin-top: 60px!important;
}
.img-ssayser {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.login_page
{
    overflow: hidden!important;
    max-height: 100%!important;
}
.sadjas-sadasimg {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
  }
